html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 45px;
    left: 10px;
    right: 10px;
    bottom: 40px;
}

.main-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    height: 100%;
    box-sizing: border-box;
    background: url(http://moonkoradji.com/psymap/images/space.jpg) black;
    overflow: hidden;
}

.sheep-1 {
    background: url(http://moonkoradji.com/psymap/images/sheep-1.png) no-repeat center/contain;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 90;
}

.login {
    position: absolute;
    width: 200px;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}

.logo {
    background: url(../images/psy-map-logo.png) no-repeat center top / 200px;
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

.title-main {
    text-transform: uppercase;
    color: #4F4F6D;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 47px;
}

.title-second {
    color: #4F4F6D;
    margin-bottom: 15px;
    margin-right: 5px;
    font-size: 21px;
    text-align: justify;
    display: inline;
    font-weight: bold;
    letter-spacing: 2px;
}

.fb-page {
    position: absolute !important;
    right: 10px;
    top: 45px;
    width: 222px;
    transition: 0.3s;
}

.date-range {
    display: none;
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    box-shadow: 1px 1px 10px grey;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    transition: .3s;
}

.date-input {
    width: 106px;
}

.reset-btn {
    cursor: pointer;
}

.iwLink {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    line-height: 1.3em;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.gm-style .iwImage {
    max-width: 250px;
    display: block;
    margin-bottom: 10px;
}

.iwInner {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 0 0 10px;
}

.gm-style .iwDate {
    font-weight: normal;
    font-size: 14px;
}

.iwLink,
.iwDate {
    padding: 0 10px;
    color: #e74c3c;
}

.iwCloseBtn {
}

.iwBackColor {
    opacity: 0.25;
    background-color: #e74c3c;
}

.iwBackArrow {
    opacity: 0.25;
}

.hide {
    display: none;
}

.welcome {
    display: none;
}

.user-wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px;
    width: 222px;
    box-sizing: border-box;
}

.user-name {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    line-height: 1.28;
    max-width: 172px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-pic {
    display: table-cell;
    vertical-align: middle;
    width: 35px;
}

.user-pic img {
    margin-left: 6px;
    width: 35px;
    height: 35px;
    display: block;
}

.footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 40px;
    font-size: 14px;
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyrights {

}

.footer .fb_iframe_widget {
    display: flex !important;
    margin-right: 10px;
}

.ui-widget-header {
    border: none;
}

.ui-widget-content {
    background-color: rgba(41, 41, 41, 0.75);
    color: #e74c3c;
}

.ui-widget.ui-widget-content {
    border: none;
}

.ui-datepicker th {
    background-color: rgba(0, 0, 0, 0.9)
}

.controls {
    position: absolute;
    flex-direction: column;
    top: 55px;
    right: 10px;
    background: white;
    display: none;
}

.controls-btn {
    width: 35px;
    height: 35px;
    cursor: pointer;
    padding: 5px;
}

.controls-btn img {
    width: 100%;
}


@media (max-width: 640px) {
    .fb-page {
        /*transform: translateX(105%);*/
        right: -232px;
        top: 100px;
    }

    .user-wrapper {
        width: 166px;
        border-radius: 2px;
        background: white;
        /*border: 1px solid #E9EBEE;*/
        top: 10px;
    }

    .user-name {
        color: #111;
        max-width: 113px;
    }

    #map {
        top: 10px;
        right: 10px;
        border-radius: 1px;
        border: none;
    }

    .sheep-1 {
        width: 100px;
        height: 80px;
        bottom: 60px;
    }

    .date-range {
        background-color: white;
        color: black;
        display: flex !important;
        flex-direction: column;
        right: -232px;
        top: 145px;
        left: auto;
        width: 222px;
        padding: 5px;
        box-sizing: border-box;
    }

    .controls {
        /*display: flex;*/
    }
}
