html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map {
    position: absolute;
    top: 45px;
    left: 10px;
    right: 10px;
    bottom: 40px;
    /*border-radius: 50%;*/
}

.main-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    color: white;
    height: 100%;
    box-sizing: border-box;
    background: black;
    background: url(http://moonkoradji.com/psymap/images/space.jpg);
}

.sheep-1 {
    background: url(http://moonkoradji.com/psymap/images/sheep-1.png) no-repeat center/contain;
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: 50px;
    left: 10px;
    z-index: 90;
}

.login {
    position: absolute;
    width: 200px;
    text-align: center;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 100;
}

.logo {
    background: url(../images/psy-map-logo.png) no-repeat center top / 200px;
    width: 200px;
    height: 200px;
    margin-bottom: 8px;
}

.title-main {
    text-transform: uppercase;
    color: #4F4F6D;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 47px;
}

.title-second {
    color: #4F4F6D;
    margin-bottom: 15px;
    margin-right: 5px;
    font-size: 21px;
    text-align: justify;
    display: inline;
    font-weight: bold;
    letter-spacing: 2px;
}

.fb-page {
    position: absolute !important;
    right: 10px;
    top: 45px;
    width: 222px;
}

.date-range {
    position: absolute;
    top: 10px;
    left: 125px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 4px;
    box-shadow: 1px 1px 10px grey;
}

.iwLink {
    font-weight: bold;
    margin-bottom: 5px;
    display: block;
    line-height: 1.3em;
    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;
}

.gm-style .iwImage {
    max-width: 250px;
    display: block;
    margin-bottom: 10px;
}

.iwInner {
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 5px;
    padding: 0 0 10px;
}

.gm-style .iwDate {
    font-weight: normal;
    font-size: 14px;
}

.iwLink,
.iwDate {
    padding: 0 10px;
    color: #e74c3c;
}

.iwCloseBtn {
}

.iwBackColor {
    opacity: 0.25;
    background-color: #e74c3c;
}

.iwBackArrow {
    opacity: 0.25;
}

.hide {
    display: none;
}

.welcome {
    display: none;
}

.user-wrapper {
    display: table;
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px;
    width: 222px;
    box-sizing: border-box;
    /*background: -moz-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0.75) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#bf000000', GradientType=0);*/
}

.user-name {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: white;
    line-height: 1.28;
    max-width: 172px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.user-pic {
    display: table-cell;
    vertical-align: middle;
    width: 35px;
}

.user-pic img {
    margin-left: 6px;
    width: 35px;
    height: 35px;
    display: block;
}

.footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: white;
    line-height: 40px;
}

@media (max-width: 640px) {
    .fb-page {
        display: none !important;
    }

    .user-wrapper {
        width: 166px;
        border-radius: 2px;
        background: white;
        /*border: 1px solid #E9EBEE;*/
        top: 10px;
    }

    .user-name {
        color: #111;
        max-width: 113px;
    }

    #map {
        top: 10px;
        right: 10px;
        border-radius: 1px;
        border: none;
    }

    .sheep-1 {
        width: 100px;
        height: 80px;
        bottom: 60px;
    }
}
